html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font-size: 16px; */
    /* font: inherit; */
    vertical-align: baseline;
    box-sizing: border-box;
    color: black;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: flex;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Styling after reset */

/* design for the smaller screen first */

body {
    background-color: #868286;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    font-family: "Inter", serif;
}


/*HEADER*/


.headerContainer {
    /* margin-top: 1.5%; */
    /*% of the parent*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 375px; */
    width: 91.4%;
    background-color: white;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    height: 1.75rem;
    width: auto;
}

.logoMenu {
    width: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & hr {
        width: 100%;
        border: 3px solid #000000;
    }
}



/*MAIN*/

.mainContainer {
    background-color: white;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    width: 91.4%;
    margin-bottom: 4rem;
}

.mainArticle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.mainArticle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    grid-column: auto;
    grid-row: auto;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    /*based on 40px on the model and a 16px root font*/
    font-weight: bolder;
    grid-column: auto;
    grid-row: auto;
}

.mainArticle p {
    font-size: 0.93rem;
    line-height: 1.62rem;
    grid-column: auto;
    grid-row: auto;
}

button {
    background-color: #F15D51;
    line-height: 1.5rem;
    font-size: 0.87rem;
    letter-spacing: 0.274rem;
    text-transform: uppercase;
    color: #FFFDFA;
    width: 11.563rem;
    height: 3rem;
}

/* why does the width not inherited from parent? */
.blackContainer {
    background-color: #00001A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.newContainer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 90%;

    & h2 {
        color: #E9AA52;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        margin-bottom: 2.188rem;
    }

    & h3 {
        color: #FFFDFA;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
    }

    & p {
        color: #C5C6CE;
        font-size: 0.938rem;
        line-height: 1.625rem;
        margin-bottom: 1.5rem;
    }

    & hr {
        /* border-top: 0.063rem solid #5E607A;
        width: 100%;
         */

        width: 18.875rem;
        height: 0.063rem;
        color: #5E607A;
        margin-bottom: 1.5rem;
    }
}



/*SECTION*/

.sectionContainer {
    display: flex;
    align-items: left;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 91.4%;
}

.smallContainer {
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */

    grid-template-columns: 6.25rem auto;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;
    max-width: 100%;
    height: 8.063rem;
}

.smallContainer1 {
    display: grid;
    column-gap: 1.563rem;
    row-gap: auto;

    & img {
        width: auto;
        height: 100%;
        margin-right: 1.5rem;
        max-height: 8.063rem;
        object-fit: cover;
        grid-column: 1 / 2;
        grid-row: 1/4;
    }
    & .number {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        color: #C5C6CE;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    & h4 {
        font-weight: bolder;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}

.smallContainer2 {
    display: grid;
    column-gap: 1.563rem;
    row-gap: auto;

    & img {
        width: auto;
        height: 100%;
        margin-right: 1.5rem;
        max-height: 8.063rem;
        object-fit: cover;
        grid-column: 1 / 2;
        grid-row: 1/4;
    }
    & .number {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        color: #C5C6CE;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    & h4 {
        font-weight: bolder;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}


/* all the styles before that query will be applied until we reach to 800px and still after unless overriden in this*/
@media screen and (min-width: 800px) {}